<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment-2</title>
</head>
<body>
==========================================================================================================================================
<form method=POST action="/kmeans">
    <div>
        <label>Enter column Name 1:</label>
        <input type="text"  name="attribute1" placeholder="Enter attribute 1">
        <br><br>
    </div>
    <div>
        <label>Enter column Name 2:</label>
        <input type="text" name="attribute2" placeholder="Enter attribute 2">
        <br><br>
    </div>
    <div>
        Enter the number of clusters : <input type = "text" name="clusters">
        <br><br>
    </div>
    <button type="submit">kmeans</button>
    <br><br><br>
    {%for i in disCluster %}
        {{i.dist}}<br>
    {% endfor %}
    <br>

    <br>
    <!--{%for i in pdict%}-->
       <!--No of points in cluster:{{i}}<br>-->
    <!--{% endfor %}-->
    <br>
    <br>
    </form>

    <form method=POST action="/show">
        <button type="submit">Display Result</button>
    </form>
=================================================================================================================================================
    <p>Search for earthquakes occured with a magnitude greater than the entered magnitude</p>
       <form action="{{url_for('GreatMag')}}" method="POST" enctype="multipart/form-data">
         <input type="text" value="" name="GreatMag" placeholder="Enter Magnitude">
         <input type="submit" value="GreaterValue">
      </form>
		 <p> Number of earthquakes that has greater magnitude are {{counter}} </p>
       <table border = 1>
         <thead>

            <td>Earthquakes</td>
         </thead>
         {% for row in rows %}

         <tr>
            <td>{{row["mag"]}}</td>
		 </tr>
		   {% endfor %}
         </table>
================================================================================================================================================
    <p>Enter range of magnitudes with start and end dates</p>
		<form action="{{url_for('BetMag')}}" method="POST" enctype="multipart/form-data">
         <input type="text" value="" name="StartMag" placeholder="Enter start value">
		 <input type="text" value="" name="EndMag" placeholder="Enter end value">
			<input type="text" value="" name="StartDate" placeholder="YYYY-MM-DDDD">
			<input type="text" value="" name="EndDate" placeholder="YYYY-MM-DDDD">
         <input type="submit" value="Range">
      </form>
		<table border = 1>
         <thead>

            <td>Earthquakes</td>
         </thead>
         {% for row in rows %}

         <tr>
            <td>{{row["date"]}}</td>
			 <td>{{row["mag"]}}</td>
		 </tr>
		   {% endfor %}
         </table><br>
		 <br>
===========================================================================================================================
    <br>
		<p>Search for earthquakes occured with a magnitude and find if they occurred mostly by Day or night</p>
       <form action="{{url_for('DayMag')}}" method="POST" enctype="multipart/form-data">
         <input type="text" value="" name="DayMag" placeholder="Enter Magnitude">
         <input type="submit" value="TimeOfOccurence">
      </form><br>
		<br>
		 <p>  {{msg}} </p>
====================================================================================================================================
  <p>Search for earthquakes nearest to a specified location</p>
       <form action="{{url_for('radius')}}" method="POST" enctype="multipart/form-data">
         <input type="text" value="" name="LatCoord" placeholder="Enter Latitude">
          <input type="text" value="" name="LongCoord" placeholder="Enter Longitude">
           <input type="text" value="" name="Dist" placeholder="Enter Distance">
         <input type="submit" value="Calculate">
      </form>
		 <p> Number of earthquakes nearest to the specified location {{count}}</p>
=========================================================================================================================================
     <p>Search for earthquakes occured with a magnitude greater than the entered magnitude for the past 4 days</p>
       <form action="{{url_for('PrevDays')}}" method="POST" enctype="multipart/form-data">
         <input type="text" value="" name="PrevDays" placeholder="Enter Magnitude">
         <input type="submit" value="Prev 4 Days">
      </form>
		 <p> Number of earthquakes that has greater magnitude and occured in the past 4 days</p>
       <table border = 1>
         <thead>

            <td>Earthquakes</td>
         </thead>
         {% for row in rows %}

         <tr>
            <td>{{row["mag"]}}</td>
		 </tr>
		   {% endfor %}
         </table>

========================================================================================================================================

</body>
</html>